@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$page-bg-color: white;
$header-bg-color: black;
$item-color: rgba(0,0,0,0.65);
$item-description-color: #41464b;
$item-border: rgba(0,0,0,0.08);
$anchor-hover-color: rgba(0,0,0,0.1);
$item-hover-color: #6ecbb8;
$item-hover-links: #009490;
$button-color: #888;

//FUNCTIONS---------------------------------------------------------------------------------------------------------------------------------------------------------------------
//--DEV: This function takes a color as argument and returns us the oposing color.
@function set-text-color($color) {
    @if (lightness($color) > 60) {
        @return black;
    } @else {
        @return white;
    }
}

//MIXINS---------------------------------------------------------------------------------------------------------------------------------------------------------------------
//--DEV: Most common transition.
@mixin transition-color-ease {
    transition: color 0.15s ease;
}

@mixin transition-all-ease {
    transition: 0.15s ease;
}

@mixin transition-bg {
    transition: background-color 0.15s ease;
}