.base {
    background-color: black;
    color: white;
    padding: 2.5rem;
    margin-bottom: 6rem;
    border-radius: 10px;
    line-height: 1.2;
    letter-spacing: 2px;
  }
  
  .base h1 {
    font-size: 4.2rem;
    text-align: center;
  }